{
  "openapi": "3.0.0",
  "info": {
    "title": "API Documentation",
    "description": "See more:\n * [Project introduction](https://agilts.atlassian.net/wiki)\n * [Kanban board](https://agilts.atlassian.net/jira)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://customer-api-fe.agilts.com",
      "description": "For Front-end Developer"
    },
    {
      "url": "https://customer-api-staging.agilts.com",
      "description": "Staging"
    },
    {
      "url": "https://customer-api.agilts.com",
      "description": "Product"
    }
  ],
  "paths": {
    "/register": {
      "post": {
        "tags": [
          "auth"
        ],
        "operationId": "efb9a33c42af9be7e3d1c9d3f0561b91",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "title": "Name",
                    "description": "Customer full name",
                    "maxLength": 50,
                    "example": "Nguyen Van Hai"
                  },
                  "email": {
                    "title": "Email",
                    "description": "Customer email",
                    "maxLength": 100,
                    "example": "nguyenvanhai@agilts.com"
                  },
                  "password": {
                    "title": "Password",
                    "description": "Password must contain lowercase letters, uppercase letters, special characters, and numbers. In addition, leaked passwords will be warned",
                    "maxLength": 20,
                    "minLength": 8,
                    "example": "NguyenVanHai825!"
                  },
                  "password_confirmation": {
                    "title": "Password confirmation",
                    "description": "Password must contain lowercase letters, uppercase letters, special characters, and numbers. In addition, leaked passwords will be warned",
                    "maxLength": 20,
                    "minLength": 8,
                    "example": "NguyenVanHai825!"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account successfully created"
          },
          "419": {
            "description": "CORS Token is missing/incorrect or has expired"
          },
          "422": {
            "description": "Data is not accepted"
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "operationId": "a4409d488af754f4fa0960dbadb13538",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "title": "Email",
                    "description": "Customer email",
                    "example": "nguyenvanhai@agilts.com"
                  },
                  "password": {
                    "title": "Password",
                    "description": "Customer password",
                    "example": "NguyenVanHai825!"
                  },
                  "remember": {
                    "title": "Remember me",
                    "description": "Save account for long-term use",
                    "type": "boolean",
                    "example": false
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account successfully logined"
          },
          "419": {
            "description": "CORS Token is missing/incorrect or has expired"
          },
          "422": {
            "description": "Data is not accepted"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "auth",
      "description": "Specifies how to identify users accessing the system"
    }
  ]
}